<!DOCTYPE html>
<html lang="es" data-theme="light" xlmns:th="https://thymeleaf.org/"
    xlmns:sec="https://thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carga de tareas</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Lista de Tareas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    </script>
</head>

<body>
    <nav th:replace="/fragments/navbar.html :: nav"></nav>

    <main style="position: relative;">
        <div class="table-responsive">
            <div class="container mt-6">
                <table class="table table-striped" th:action="@{/carga_tareas}" method="POST">
                    <thead class="table-dark">
                        <tr class="table-striped">
                            <th scope="col">Cliente</th>
                            <th scope="col">Proyecto</th>
                            <th scope="col">Colaborador</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha límite</th>
                            <th scope="col">Nueva tarea</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option selected>Seleccionar cliente</option>
                                    <option value="1">Cliente A</option>
                                    <option value="2">Cliente B</option>
                                    <option value="3">Cliente C</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option selected>Seleccionar Proyecto</option>
                                    <option value="1">Proyecto 1</option>
                                    <option value="2">Proyecto 2</option>
                                    <option value="3">Proyecto 3</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option selected>Seleccionar Agente</option>
                                    <option value="1">Agente A</option>
                                    <option value="2">Agente B</option>
                                    <option value="3">Agente C</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option selected>Selecciona un estado</option>
                                    <option value="1">Pendiente</option>
                                    <option value="2">En proceso</option>
                                    <option value="3">Listo</option>
                                </select>
                            </td>
                            <td>
                                <input type="date" class="form-control" placeholder="fecha límite de la tarea">
                            </td>

                            <td>
                                <input type="text" class="form-control" placeholder="Escriba aquí la tarea">

                            </td>


                            <td>
                                <button class="btn btn-outline-dark" value="Input">
                                    Cargar tarea

                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>

                <tbody>
                    <tr>
                        <td>
                            <select class="form-select form-select-sm">
                                <option selected>Seleccionar cliente</option>
                                <option value="1">Cliente A</option>
                                <option value="2">Cliente B</option>
                                <option value="3">Cliente C</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm">
                                <option selected>Seleccionar Proyecto</option>
                                <option value="1">Proyecto 1</option>
                                <option value="2">Proyecto 2</option>
                                <option value="3">Proyecto 3</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm">
                                <option selected>Seleccionar Agente</option>
                                <option value="1">Agente A</option>
                                <option value="2">Agente B</option>
                                <option value="3">Agente C</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm">
                                <option selected>Selecciona un estado</option>
                                <option value="1">Pendiente</option>
                                <option value="2">En proceso</option>
                                <option value="3">Listo</option>
                            </select>
                        </td>
                        <td>
                            <input type="date" class="form-control">
                        </td>

                        <td>
                            <input type="text" class="form-control" placeholder="Escriba aquí la tarea">

                        </td>


                        <td>
                            <button class="btn btn-outline-dark" value="Input">
                                Cargar tarea

                            </button>
                        </td>
                    </tr>


                </tbody>
                </table>
            </div>
        </div>
    </main>

    <alert th:replace="/fragments/alertas.html"></alert>
    <footer th:replace="/fragments/footer.html :: footer"></footer>
    <script>
        // Inicializar el popover utilizando JavaScript
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>

</html>