<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/img/index.css">
</head>

<body>
    <div>
        <div>
            <span class="letra">P</span>
            <span class="palabra">ublicidades</span>
        </div>
        <div>
            <span class="letra">E</span>
            <span class="palabra">n</span>
        </div>
        <div>
            <span class="letra">T</span>
            <span class="palabra">iempo</span>
        </div>
        <div>
            <span class="letra">R</span>
            <span class="palabra">eal</span>
        </div>
        <div>
            <span class="letra">U</span>
            <span class="palabra">nicas</span>
        </div>
    </div>
    <span>
        Somos una agencia publicitaria de primer nivel dedicada a impulsar a empresas con nuestros metodos
        inovadores de marketing.

        Contratando nuestros servicios dispones de nuestro gestor de proyectos, que cuenta con las siguientes
        herramientas:

        (expand) 1. Supervision de las tareas.
        (expand) 2. Calendario de eventos y organizador de reuniones.
        (expand) 3. Informacion detallada de cada proyecto.
        (expand) 4. Contacto con colaboradores por via email o telefonica.
    </span>
</body>

</html>