<!DOCTYPE html>
<html lang="es" data-theme="light" xlmns:th="https://thymeleaf.org/"
    xlmns:sec="https://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/inicio.css">
</head>

<body>
    <nav th:replace="/fragments/navbar.html :: nav"></nav>

    <main>
        <section id="inicio">
            <div class="hero">
                <div class="img"></div>
                <div class="info">
                    <h3>Petru</h3>
                    <span>Publicidades En Tiempo Real Unicas</span>
                    <div>
                        <a href="/login">Ingresar</a>
                        <a href="/registrar">Registrarse</a>
                    </div>
                </div>
            </div>
            <div class="servicios">
                <div class="carousel">
                    <div class="carousel-wrapper">
                        <div class="carousel-item">
                            <img src="/img/caja-informacion-1.jpg" width="50%" alt="">
                            <div class="info">
                                <h3>Supervision</h6>
                                    <p>
                                        Podra supervisar el estado de las tareas que los colaboradores estan haciendo,
                                        asi mismo podra ver cuales ya han sido terminadas y cuales faltan por hacer.
                                    </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/caja-informacion-2.jpg" width="50%" alt="">
                            <div class="info">
                                <h3>Organizacion</h6>
                                    <p>
                                        Tendra acceso a un calendario en el que podra organizar 
                                        reuniones con colaboradores por si quiere contactarse con ellos.
                                    </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/caja-informacion-3.jpg" width="50%" alt="">
                            <div class="info">
                                <h3>Comunicacion</h6>
                                    <p>
                                        Cada proyecto que usted cree, contara con notas en las que usted podra
                                        marcar cosas adicionales o detalles que quiere que se tengan en cuenta, y cada
                                        tarea del proyecto, contara con comentarios para dar feedback a el colaborador
                                        que la esta realizando.
                                    </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/caja-informacion-4.jpeg" width="50%" alt="">
                            <div class="info">
                                <h3>Contacto</h6>
                                    <p>
                                        Cada colaborador que acepte su proyecto tendra un email y un numero de telefono,
                                        estas vias de contacto podran ser utilizadas para contactar rapidamente a cada uno de ellos.
                                    </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-navigation">
                        <button class="left" onclick="inicioPrevSlide()">&#10094;</button>
                        <button class="right" onclick="inicioNextSlide()">&#10095;</button>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="login">
                    <h3>Ingresar</h3>
                    <form th:action="@{/logincheck}" method="POST">
                        <input type="email" name="email" placeholder="Ingrese su email">
                        <input type="password" name="clave" placeholder="Ingrese su clave">
                        <button type="submit">Iniciar Sesion</button>
                    </form>
                </div>
                <div class="divider"></div>
                <div class="registro">
                    <h3>Registrarse</h3>
                    <form th:action="@{/registro}" method="POST">
                        <input type="text" name="nombre" placeholder="Ingrese su nombre">
                        <input type="email" name="email" placeholder="Ingrese su email">
                        <input type="number" name="telefono" placeholder="Ingrese su telefono">
                        <input type="password" name="clave" placeholder="Ingrese su clave">
                        <input type="password" name="clave2" placeholder="Repita la clave">
                        <input hidden type="file" name="archivo">
                        <button type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <alert th:replace="/fragments/alertas.html"></alert>
    <footer th:replace="/fragments/footer.html :: footer"></footer>

    <script src="/js/inicio.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>