<!DOCTYPE html>
<html lang="es" data-theme="light" xlmns:th="https://thymeleaf.org/"
    xlmns:sec="https://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fuente de la letra -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/registro.css">
</head>

<body>
    <nav th:replace="/fragments/navbar.html :: nav"></nav>

    <main>
        <form th:action="@{/registro}" method="POST" enctype="multipart/form-data">
            <div class="registro-container">
                <div>
                    <label for="imagen">
                        <img class="registro-camara" src="/img/camera.png" alt="Seleccionar foto"> </span>
                        <img class="registro-foto" id="registro-logo" alt="imagen">
                    </label>
                </div>
                <div>
                    <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre completo">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Ingrese su email">
                </div>
                <div>
                    <input type="number" name="telefono" id="telefono" placeholder="Ingrese su numero de telefono">
                </div>
                <div>
                    <input type="password" name="clave" id="clave" placeholder="Ingrese una clave">
                </div>
                <div>
                    <input type="password" name="clave2" id="clave2" placeholder="Repita la clave">
                </div>
                <div>
                    <textarea name="descripcion" id="descripcion" placeholder="Ingrese una descripcion"></textarea>
                </div>
                <div>
                    <input hidden type="file" accept=".jpg, .jpeg, .png" name="archivo" id="imagen"
                        placeholder="Ingrese una foto" onchange="cambiarFoto()" value="/img/user.png">
                </div>
                <div>
                    <button type="reset" onclick="manejoReset()">Limpiar</button>
                    <button type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </main>

    <footer th:replace="/fragments/footer.html :: footer"></footer>

    <script src="/js/registro.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>