<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calendario con SweetAlert2</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../../static/css/calendario.css">
</head>

<body>
<!-- Contenedor principal del calendario -->
<div class="container mt-5">
    <div id="calendar"></div>
</div>

<!-- Panel de detalles del evento -->
<div class="container mt-3" id="event-details">
    <div class="card">
        <div class="card-header">
            Detalles del Evento
        </div>
        <div class="card-body">
            <!-- Formulario para editar detalles del evento -->
            <form id="event-form">
                <div class="form-group">
                    <label for="event-title">Título:</label>
                    <input type="text" class="form-control" id="event-title" name="title">
                </div>
                <div class="form-group">
                    <label for="event-start">Inicio:</label>
                    <input type="datetime-local" class="form-control" id="event-start" name="start">
                </div>
                <div class="form-group">
                    <label for="event-end">Fin:</label>
                    <input type="datetime-local" class="form-control" id="event-end" name="end">
                </div>
                <button type="button" class="btn btn-primary" onclick="updateEvent()">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>

<!-- Scripts de bibliotecas externas -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

<!-- Script personalizado para el calendario -->
<script src="../../static/js/calendario.js"></script>
</body>

</html>
