#footer {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--secondary);
    padding: 1rem 1rem 1rem 1rem;
}

#footer .inicio {
    margin: 0 auto 0 0;
}

#footer .fin {
    margin: 0 0 0 auto;
}

#footer .fin .icono {
    display: flex;
    align-items: center;
    color: var(--contrast);
    margin: 0 1rem 0 1rem;
    width: 32px;
    height: 32px;
    transition: color .4s;
}

#footer .fin .icono:hover {
    color: var(--primary);
}