#navbar {
    top: 0;
    z-index: 1;
    height: 4rem;
    display: flex;
    margin: 0 4rem;
    position: fixed;
    padding: 0 2rem;
    width: calc(100% - 12rem);
    backdrop-filter: blur(8px);
    border-radius: 0 0 1rem 1rem;
    background-color: rgba(213, 188, 245, 0.8);
}

#navbar .home-list {
    display: flex;
    margin: 0 auto 0 0;
}

#navbar .home-list .home {
    position: relative;
    display: flex;
    align-items: center;
    width: 3rem;
    margin: 1rem 0;
    transition: width .8s;
}

#navbar .home-list .home>.box {
    position: absolute;
    background: var(--primary);
    color: var(--current);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 2rem;
    height: 2rem;
    transition: left .8s;
    user-select: none;
}

#navbar .home-list .home>:nth-child(1) {
    z-index: 1;
}

@media(min-width: 800px) {
    #navbar .home-list .home:hover {
        width: 12rem;
        cursor: pointer;
    }
    
    #navbar .home-list .home:hover>:nth-child(2) {
        left: 2.2rem;
    }
    
    #navbar .home-list .home:hover>:nth-child(3) {
        left: 4.4rem;
    }
    
    #navbar .home-list .home:hover>:nth-child(4) {
        left: 6.6rem;
    }
    
    #navbar .home-list .home:hover>:nth-child(5) {
        left: 8.8rem;
    }
}
