main>:nth-child(1) {
    background: var(--secondary);
    padding: 5rem 0 1.5rem 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s;
}

main>:nth-child(1) h1 {
    padding: 0 0 0 0;
    margin: 0;
}

main>:nth-child(1) .usuarios {
    position: absolute;
    left: 0;
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
}

main>:nth-child(1) .usuarios>:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    min-width: 1rem;
    max-width: 22rem;
    overflow-y: auto;
    height: 4rem;
}

/* Modifico el estilo de la barra vertical */
/* Ancho de toda la barra */
main>:nth-child(1) .usuarios ::-webkit-scrollbar {
    width: 8px;
}

/* El espacio en el que esta la barra */
main>:nth-child(1) .usuarios ::-webkit-scrollbar-track {
    background: var(--secondary);
}

/* La barra */
main>:nth-child(1) .usuarios ::-webkit-scrollbar-thumb {
    background: var(--text);
    width: 6px;
    border-radius: 5px;
}

/* Cuando paso por encima de la barra */
main>:nth-child(1) .usuarios ::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

main>:nth-child(1) .usuarios>:nth-child(1) img {
    margin: .2rem .3rem .2rem .3rem;
    width: 24px;
    height: 24px;
    border: 1px solid var(--text);
    background: rgb(225, 225, 225);
    border-radius: 50%;
    transition: filter .4s;
}

main>:nth-child(1) .usuarios>:nth-child(1) img:hover {
    cursor: pointer;
    filter: opacity(80%);
}

main>:nth-child(1) .usuarios>:nth-child(2) {
    width: 24px;
    height: 24px;
    border: 1px solid var(--text);
    background: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
    transition: filter .4s;
}

main>:nth-child(1) .usuarios>:nth-child(2):hover {
    filter: opacity(80%);
    cursor: pointer;
}

main>:nth-child(1) .usuarios div svg {
    color: var(--text);
    pointer-events: none;
}

main>:nth-child(1) .usuarios div .hidden {
    display: none;
}

main>:nth-child(1) .usuarios form {
    display: flex;
    align-items: center;
    justify-content: end;
}

main>:nth-child(1) .usuarios form[hidden] {
    display: none;
}

main>:nth-child(1) .usuarios form input {
    width: 6.5rem;
    background: none;
    color: var(--text);
    border: none;
    padding: .5rem .5rem .5rem 0;
}

main>:nth-child(1) .usuarios form input:focus {
    outline: 0;
}

main>:nth-child(1) .usuarios form button {
    position: absolute;
    margin: 0 -1rem 0 0;
    background: none;
    border: none;
    color: var(--text);
    border-radius: .2rem;
    transition: color .4s;
}

main>:nth-child(1) .usuarios form button:hover {
    cursor: pointer;
    color: var(--current);
}

main>:nth-child(1) .usuarios form input::placeholder {
    filter: contrast(50%);
    color: var(--text);
}

#proyecto {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 0 0 0 0;
}

#proyecto .calendario {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(80%);
    background: var(--background);
    margin: 2rem 2rem 0 2rem;
}

#proyecto .calendario img {
    border: 1px solid var(--background);
    border-radius: .5rem;
}

#proyecto .contenedor {
    filter: contrast(80%);
    background: var(--background);
    width: 100%;
    height: 40rem;
    overflow: auto;
    justify-self: end;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 0;
    padding: 2rem 0 0 0;
}

#proyecto .contenedor>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

#proyecto .contenedor>div .tipo {
    text-decoration: underline;
    margin: .5rem 0 .5rem 0;
    font-size: 2rem;
}

#proyecto .contenedor>div .tarea {
    display: flex;
    box-shadow: 0 0 .1rem .05rem var(--background);
    filter: contrast(80%);
    background: var(--background);
    width: 10rem;
    border-radius: .1rem;
    padding: .5rem 1rem .5rem 1rem;
    margin: .2rem 0 .2rem 0;
    transition: box-shadow .4s;
}

#proyecto .contenedor>div .tarea[draggable=true]:hover {
    cursor: grab;
    box-shadow: .05rem .05rem .2rem .1rem var(--contrast);
}

#proyecto .contenedor>div .tarea .etiqueta:hover {
    border: 1px solid var(--contrast) !important;
}

#proyecto .contenedor>div .tarea .titulo {
    margin: 0 1rem 0 0;
    pointer-events: none;
}

#proyecto .contenedor>div .tarea .tooltip {
    position: absolute;
    background: var(--current);
    color: var(--text);
    opacity: 1;
    margin-top: -1.2rem;
    font-size: .9rem;
}

#proyecto .contenedor>div .tarea .pencil {
    position: absolute;
    display: flex;
    margin: 0 0 0 9rem;
    color: var(--text);
    transition: transform .4s, color .4s, opacity .4s;
}

#proyecto .contenedor>div .tarea .pencil:hover {
    cursor: pointer;
    color: var(--accent);
    transform: rotate(-45deg);
}

#proyecto .contenedor>div .tarea .list {
    position: absolute;
    display: flex;
    margin: -.1rem 0 0 9rem;
    color: var(--text);
    transition: color .4s, opacity .4s;
}

#proyecto .contenedor>div .tarea .list:hover {
    cursor: pointer;
    color: var(--accent);
}

@keyframes arrow-move {
    0% {
        transform: translateY(-.3rem);
    }

    50% {
        transform: translateY(.3rem);
    }

    100% {
        transform: translateY(-.3rem);
    }
}

#proyecto .contenedor>div .tarea .dw-arrow {
    position: absolute;
    display: flex;
    margin-left: -3rem;
    width: 24px;
    height: 24px;
    color: var(--text);
    animation: arrow-move 1s ease-in-out 0s infinite normal forwards;
}

#proyecto .contenedor>div .tarea .up-arrow {
    position: absolute;
    display: flex;
    margin-left: 11.5rem;
    width: 24px;
    height: 24px;
    color: var(--text);
    animation: arrow-move 1s ease-in-out 0s infinite normal forwards;
}

#proyecto .contenedor>div .tarea svg.hidden {
    opacity: 0;
    pointer-events: none;
}

#proyecto .agregar {
    display: flex;
    order: 999;
    justify-content: center;
    box-shadow: 0 0 .1rem .05rem var(--background);
    filter: contrast(80%);
    background: var(--background);
    width: 10rem;
    border-radius: .1rem;
    padding: .5rem 1rem .5rem 1rem;
    margin: .2rem 0 .2rem 0;
    transition: box-shadow .4s, color .4s;
}

#proyecto .agregar svg,
path {
    pointer-events: none;
}

#proyecto .agregar:hover {
    cursor: pointer;
    color: green;
    box-shadow: .05rem .05rem .2rem .1rem green;
}

#proyecto .agregar-input {
    display: flex;
    box-shadow: 0 0 .1rem .05rem var(--background) !important;
    filter: contrast(80%);
    background: var(--background);
    width: 10rem;
    border-radius: .1rem;
    padding: 0 1rem;
}

#proyecto .agregar-input form {
    display: flex;
    align-items: center;
}

#proyecto .agregar-input input {
    background: none;
    color: var(--text);
    border: 1px solid var(--background);
    width: 8rem;
    border: 1;
    border-radius: .1rem;
    padding: .7rem 3rem .7rem 1rem;
}

#proyecto .ventana .agregar-input input {
    width: 6rem;
    padding: .7rem 5rem .7rem 1rem;
}

#proyecto .agregar-input button[type=submit] {
    margin: 0 .7rem 0 0;
    position: absolute;
    right: 0;
    background: none;
    color: var(--text);
    transition: color .4s, border .4s;
    border: 1px solid var(--text);
    border-radius: .2rem;
}

#proyecto .agregar-input button[type=submit]:hover {
    cursor: pointer;
    border: 1px solid green;
    color: green;
}

#proyecto .ventana .agregar-input select {
    margin: 0 .7rem 0 0;
    position: absolute;
    right: 2rem;
    background: none;
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: .2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 1.6rem;
    padding: .15rem .1rem .15rem .1rem;
}

@keyframes fondo-in {
    from {
        backdrop-filter: blur(0);
        background: rgba(0, 0, 0, 0);
    }

    to {
        backdrop-filter: blur(8px);
        background: rgba(0, 0, 0, 0.3);
    }
}

@keyframes fondo-out {
    from {
        backdrop-filter: blur(8px);
        background: rgba(0, 0, 0, 0.3);
    }

    to {
        backdrop-filter: blur(0);
        background: rgba(0, 0, 0, 0);
    }
}

#proyecto .fondo {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.3);
    animation: fondo-in .3s ease-in-out 0s 1 normal forwards;
}

#proyecto .fondo-hide {
    animation: fondo-out .3s ease-in-out 0s 1 normal forwards;
}

#proyecto .fondo[hidden] {
    display: none;
}

@keyframes ventana-in {
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}

@keyframes ventana-out {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(0%);
    }
}

#proyecto .ventana {
    z-index: 999;
    width: 40rem;
    height: 23rem;
    padding: 2rem;
    background: var(--secondary);
    animation: ventana-in .3s ease-in-out 0s 1 normal forwards;
}

#proyecto .ventana[hidden] {
    display: none;
}

#proyecto .ventana-hide {
    animation: ventana-out .3s ease-in-out 0s 1 normal forwards;
}

#proyecto .ventana .tarea-ventana {
    display: flex;
}

#proyecto .ventana .tarea-ventana[hidden] {
    display: none;
}

#proyecto .ventana .cambiar-nombre input {
    margin: 0 0 0 1rem;
    font-size: 2rem;
    background: none;
    color: var(--text);
    width: 20rem;
    height: 2.5rem;
    border: .1rem solid var(--secondary);
    padding: .2rem .5rem;
    border-radius: .3rem;
    transition: border .4s;
}

#proyecto .ventana .cambiar-nombre input:focus {
    border: .1rem solid var(--text);
    box-shadow: none;
    outline: none;
}

#proyecto .ventana .cambiar-nombre>form>button[type=submit] {
    margin: 0 0 0 .5rem;
    background: none;
    color: var(--text);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: .2rem .2rem;
    border: .1rem solid var(--secondary);
    border-radius: .3rem;
    transition: border .4s, color .4s;
}

#proyecto .ventana .cambiar-nombre>form>button[type=submit]:hover {
    cursor: pointer;
    color: green;
    border: .1rem solid green;
}

#proyecto .ventana .comentarios {
    border: .1rem solid var(--text);
    border-radius: .2rem;
    filter: contrast(80%);
    width: 20rem;
    height: 19rem;
    margin: 1rem 2rem 1rem 2rem;
    overflow: auto;
}

#proyecto .ventana .comentarios .agregar-comentario {
    margin: .5rem auto .5rem auto;
    width: 18rem;
    border: 1px solid var(--text);
    border-radius: 1rem;
}

#proyecto .ventana .comentarios .agregar-comentario .usuario {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    align-items: center;
    margin: .5rem;
}

#proyecto .ventana .comentarios .agregar-comentario .usuario img {
    border: 1px solid var(--text);
    border-radius: 50%;
    margin: 0 .5rem 0 0;
}

#proyecto .ventana .comentarios .agregar-comentario .usuario .nombre {
    font-size: 1.1rem;
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
}

#proyecto .ventana .comentarios .agregar-comentario .contenido form {
    margin: .5rem .3rem .5rem .3rem;
    display: flex;
    align-items: center;
}

#proyecto .ventana .comentarios .agregar-comentario .contenido textarea {
    background: none;
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 1rem .2rem .2rem 1rem;
    min-width: 14rem;
    max-width: 14rem;
    min-height: 2rem;
    max-height: 8rem;
    padding: .5rem .5rem .1rem .5rem;
    font-size: 1rem;
}

/* Modifico el estilo de la barra vertical */
/* Ancho de toda la barra */
#proyecto .ventana ::-webkit-scrollbar {
    width: 4px;
}

/* El espacio en el que esta la barra */
#proyecto .ventana ::-webkit-scrollbar-track {
    background: var(--secondary);
}

/* La barra */
#proyecto .ventana ::-webkit-scrollbar-thumb {
    background: var(--accent);
    width: 2px;
    border-radius: 5px;
}

/* Cuando paso por encima de la barra */
#proyecto .ventana ::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}

#proyecto .ventana .comentarios .agregar-comentario .contenido button[type=submit] {
    color: var(--text);
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    background: none;
    height: 2rem;
    width: 2rem;
    margin: 0 .2rem 0 .2rem;
    transition: color .4s, border .4s;
}

#proyecto .ventana .comentarios .agregar-comentario .contenido button[type=submit]:hover {
    cursor: pointer;
    color: green;
    border: 1px solid green;
}

#proyecto .ventana .comentarios .divider {
    margin: .2rem auto .2rem auto;
    background: var(--contrast);
    width: 90%;
    height: 1px;
}

#proyecto .ventana .comentarios .comentario {
    margin: .5rem auto .5rem auto;
    width: 18rem;
    border: 1px solid var(--text);
    border-radius: 1rem;
}

#proyecto .ventana .comentarios .comentario .usuario {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 1fr;
    align-items: center;
    margin: .5rem;
}

#proyecto .ventana .comentarios .comentario .usuario img {
    border: 1px solid var(--text);
    border-radius: 50%;
    margin: 0 .5rem 0 0;
}

#proyecto .ventana .comentarios .comentario .usuario .nombre {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 1rem;
    padding: 0;
    font-size: 1rem;
    outline: 0;
    background: none;
    border: none;
    width: 6rem;
    white-space: nowrap;
    overflow: hidden;
}

#proyecto .ventana .comentarios .comentario .usuario .fecha {
    font-size: 1rem;
    margin: 0 .5rem 0 auto;
}

#proyecto .ventana .comentarios .comentario .usuario .borrar {
    font-size: 1rem;
    margin: 0;
    transition: color .4s;
}

#proyecto .ventana .comentarios .comentario .usuario .borrar:hover {
    cursor: pointer;
    color: red;
}

#proyecto .ventana .comentarios .comentario .usuario .borrar * {
    pointer-events: none;
}

#proyecto .ventana .comentarios .comentario .contenido {
    font-size: .9rem;
    margin: .5rem .3rem .5rem .3rem;
}

#proyecto .ventana .etiquetas {
    text-align: center;
    margin: 0 auto 0 2rem;
}

#proyecto .ventana .etiquetas .titulo {
    font-size: 2rem;
    text-decoration: underline;
}

#proyecto .ventana .etiquetas .etiqueta {
    color: var(--text);
    text-shadow: 1px 1px 1px var(--current);
    padding: .5rem .2rem;
    margin: .5rem 0 .5rem 0;
}

#proyecto .ventana .salir {
    position: absolute;
    right: 0;
    top: 0;
    margin: .5rem;
    transition: color .4s;
}

#proyecto .ventana .salir:hover {
    cursor: pointer;
    color: rgb(219, 62, 62);
}

@media(max-width: 1200px) {
    main>:nth-child(1) {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    main>:nth-child(1) .usuarios {
        margin: 1rem 0 1rem 0;
        position: relative;
    }

    #proyecto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    #proyecto .calendario {
        margin: 2rem 0 2rem 0;
        width: 80%;
    }

    #proyecto .contenedor {
        display: flex;
        margin: 0;
        height: 50rem;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    #proyecto .contenedor>div {
        padding: 0;
    }

    #proyecto .ventana {
        width: 18rem;
        height: 35rem;
        top: 1rem;
    }

    #proyecto .ventana .tarea-ventana {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #proyecto .ventana .cambiar-nombre input {
        margin: 0 0 0 .2rem;
        width: 13rem;
    }

    #proyecto .ventana .comentarios {
        margin: .5rem 0 .5rem 0;
        height: 15rem;
        width: 16rem;
    }

    #proyecto .ventana .comentarios .agregar-comentario {
        width: 15rem;
    }

    #proyecto .ventana .comentarios .agregar-comentario .usuario .nombre {
        width: 6rem;
        font-size: 1rem;
    }

    #proyecto .ventana .comentarios .agregar-comentario .contenido textarea {
        min-width: 10rem;
        max-width: 10rem;
    }

    #proyecto .ventana .comentarios .comentario {
        width: 15rem;
    }

    #proyecto .ventana .comentarios .comentario .usuario .nombre {
        width: 6rem;
        font-size: 1rem;
    }

    #proyecto .ventana .comentarios .comentario .usuario .fecha {
        position: absolute;
        right: 0;
        margin: 0 1rem 0 0;
    }

    #proyecto .ventana .etiquetas {
        margin: 2rem 0 0 0;
    }
}