main {
    position: relative;
}

.registro-container {
    text-align: center;
    box-shadow: 0px 0px 1rem .5rem var(--secondary);
    width: 18rem;
    border-radius: 2%;
    padding: 2rem 1rem;
    margin: 5rem auto 5rem auto;
    background: var(--secondary);
}

.registro-container input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85rem;
    margin: .3rem 0 .3rem 0;
    border: .1rem solid gray;
    border-radius: .4rem;
    height: 2.2rem;
    width: 13rem;
    padding: 0 .5rem;
}

.registro-container textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85rem;
    margin: .3rem 0 .3rem 0;
    border: .1rem solid gray;
    border-radius: .4rem;
    min-height: 1.2rem;
    height: 1.2rem;
    max-height: 6rem;
    min-width: 13rem;
    max-width: 13rem;
    padding: .5rem .5rem;
}

.registro-container button[type=submit] {
    --button-hover-color: rgb(75, 255, 75);
    margin: .3rem 0 .3rem 0;
    background: var(--primary);
    color: black;
    border: .1rem solid gray;
    border-radius: .4rem;
    height: 2.5rem;
    width: 5rem;
    border: none;
    transition: box-shadow 1s, background 1s;
}

.registro-container button[type=reset] {
    --button-hover-color: rgb(248, 62, 62);
    margin: .3rem 0 .3rem 0;
    background: var(--primary);
    color: black;
    border-radius: .4rem;
    height: 2.5rem;
    width: 5rem;
    border: none;
    transition: box-shadow 1s, background 1s;
}

.registro-container button:hover {
    cursor: pointer;
    background: var(--button-hover-color);
    box-shadow: 0 0 .3rem .1rem var(--button-hover-color);
}

.registro-container label[for=imagen] {
    display: none;
}

.registro-container .registro-foto {
    border: .1rem solid black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: opacity 0.5s;
}

.registro-container .registro-camara {
    z-index: 100;
    position: absolute;
    margin: 4.6rem 0 0 4.6rem;
    opacity: 0%;
    height: 50px;
    width: 50px;
    transition: opacity 0.5s;
}

.registro-container label:hover .registro-foto {
    opacity: 50%;
    cursor: pointer;
    transition: opacity 0.5s;
}

.registro-container label:hover .registro-camara {
    opacity: 100%;
}