.delete-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f00; /* Color de fondo del área de eliminación */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-icon i {
    color: #fff; /* Color del ícono de basura */
}

.container.mt-5 {
    width: 50%;
}
