main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.formulario-container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.formulario-container h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.formulario-container p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.formulario-container a{
    font-size: 18 px;
    display: block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.formulario-container input{
    width: 100%;
    padding: 15 px 10px;
    font-size: 15px;
    border: 1px solid #dbaadb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.formulario-container form textarea{
    max-width: 530px;
    min-width: 530px;
    max-height: 150px;
    min-height: 140px;
}
.formulario-container .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.formulario-container .btn-enviar{
    background-color: blueviolet;
}